includes:
	- ../../../../vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	excludePaths:
		- ../../../../tests/temp
		- ../../../../temp
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
